<dl>
    <dt><%= link_to dish.name, dish_path(dish)%></dt>    
    <dt><%= Dish.human_attribute_name(:restaurant_id)%>:</dt>
    <dd><%= dish.restaurant.brand_name%></dd>    
    <dt><%= Dish.human_attribute_name(:calories)%>:</dt>
    <dd><%= dish.calories%></dd>    
    <dt><%= Dish.human_attribute_name(:status)%>:</dt>
    <dd><%= I18n.translate dish.status %></dd>
    <div>
        <% if dish.photo.attached? %>
            <%= image_tag dish.photo, size: "300x300" %>
        <% end %>
    </div>
</dl>