<% if @dish.errors.any? %>
    <p>Verifique os erros abaixo:</p>
    <ul>
    <%@dish.errors.full_messages.each do |msg|%>
        <li><%= msg%></li>
    <%end%>
    </ul>
<%end%>

<%= form_with model:@dish do |f|%>
    <div>
        <%= f.label :name%>
        <%= f.text_field :name%>
    </div>
    <div>
        <%= f.label :description%>
        <%= f.text_field :description%>
    </div>
    <div>
        <%= f.label :calories%>
        <%= f.number_field :calories%>
    </div>
    <div>
        <div>
            <% if @dish.photo.attached? %>
                <%= image_tag @dish.photo, size: "300x300" %>
            <% end %>
        </div>
        <%= f.label :photo%>
        <%= f.file_field :photo%>
    </div>
    
    <div>
        <h3>Selecione os marcadores</h3>
        <%= f.collection_check_boxes :tag_model_ids, @tag_models, :id, :description do |b| %>
            <div>
            <%= b.check_box %>
            <%= b.label %>
            </div>
        <% end %>
        <%= link_to 'Adicionar Marcador', new_tag_model_path%>
    </div>
    <%= f.submit 'Gravar'%>
<%end%>