<dl>
    <dt><%= link_to item.name, dish_path(item)%></dt>    
    <dt><%= Item.human_attribute_name(:restaurant_id)%>:</dt>
    <dd><%= item.restaurant.brand_name%></dd>    
    <dt><%= Item.human_attribute_name(:calories)%>:</dt>
    <dd><%= item.calories%></dd>   
    <dt><%= Item.human_attribute_name(:status)%>:</dt>
    <dd><%= I18n.translate item.status %></dd>
    <dd>
        <% if item.photo.attached? %>
          <%= image_tag item.photo, size: "300x300" %>
        <% else %>
            <p>Sem foto disponível</p>
        <% end %>
    </dd>
     <%= link_to 'Editar', edit_dish_path(item)%> 
</dl>