<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Paleva" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="flex justify-between bg-gray-100 p-3 items-center gap-5">
      <div>
        <%= link_to root_path do%>
          <h1>PaLevá</h1>
        <%end%>
      </div>
      <nav class="flex items-center gap-8">
        <% if user_signed_in? %>
          <%= link_to 'Meus Pratos', dishes_path%>
          <%= link_to 'Minhas Bebidas', beverages_path%>
          <%= link_to 'Modelos de Marcadores', tag_models_path%>
          <div class="inline-block rounded border border-red-600 bg-red-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-red-600 focus:outline-none focus:ring active:text-red-500">
            <%= button_to 'Sair', destroy_user_session_path, method: :delete%> 
          </div>
        <%end%> 
      </nav>
    </header>
    <main class="container mx-auto mt-28 px-5 flex flex-col gap-1 items-center">
      <div>
        <%= notice %>
        <%= alert %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
